@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
.jumbotron{    
    margin-bottom:2%;    
    background-color: transparent;
    color: lightcyan;
    padding: 2%; 
    background-position: center;
    background-repeat: no-repeat;    
}

input{
    background-color: lightcyan;
}

.border-r{
    border-right: 1px solid #E2C2B3;
}

.border-b{
    border-bottom: 1px solid #E2C2B3;
    margin-bottom: 1em;
}

hr{    
    border-color: lightgray;
}

.username{
    font-size: x-large;
    color: #E2C2B3;
    font-family: 'Lato';
}

.maroon{
    color: #E2C2B3;
    font-family: 'Lato';
}

img{
    max-width: 60%;    
    object-fit: cover;
    border-radius: 1em;
    box-shadow: 3px 5px #E2C2B3
}

.text-style{
    font-size: small;
    font-family: 'Lato';
    text-transform: capitalize;
}

.card{
    background-color: transparent;
    height: 100%;
    border-color: #E2C2B3;
}

.jumbotron a{
    text-transform: capitalize;
    text-decoration: none;
    color: #E2C2B3;
}

.jumbotron a:hover{
    color: tomato;
}

.text-normal{
    font-size: 1.1em;
}

.min-height{
    min-height: 400px;
}
