<div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <div class="row">
                <div class="col-12 col-md-5">
                    <form (ngSubmit)='submitRepoName()' #repoNameForm='ngForm'>
                        <div class="row">
                            <div class="col-12 input-group mb-3">
                                <input class="form-control" type="text" name="searchRepo" aria-label="" aria-describedby="basic-addon2" id="searchRepo" [(ngModel)]="searchedRepo.repoName" #searchRepo='ngModel' placeholder="Search repository" required>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>
                                </div>
                            </div>                            
                        </div>
                    </form>
                </div>
                <div class="col-md-5"></div>
                <div class="col-2 text-right">
                    <a routerLink="/home" class="align-text-bottom">Developer Profile</a>
                </div>
            </div>
            <div *ngIf='repos.length!==0' class="row">
                <div class="col-12">
                    <h5>Repos: {{totalCount.totalRepos}}</h5>
                </div>
            </div>
            <div *ngIf='repos.length!==0' class="row">
                <div class="col-12 text-center mb-4">
                    <h4>Repositories</h4>
                </div>
            </div>
            <div class="row mb-4 min-height">
                <div *ngFor='let repo of repos' class="col-12 col-md-4 mb-3">
                    <div class="card" appRepoHighlight>
                        <div class="card-body text-style">
                            <a href="{{repo.repoLink}}"><h5 class="card-title">{{repo.repoName}}</h5></a>
                            <h6 class="card-subtitle mb-2 text-muted">{{repo.language}}</h6>
                            <p class="card-text">{{repo.description}}</p>
                            <div>
                                Owner: <a href="{{repo.ownerLink}}">{{repo.owner}}</a><br>
                                Created: {{repo.createdAt | datePipe}}<br>
                                Last update: {{repo.lastUpdated | datePipe}}<br>
                                License: {{repo.license}}<br>
                                Forks: {{repo.forks}}
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf='repos.length!==0' class="col-12 text-style text-center">
                    <p>Click repo to highlight</p>
                </div>                                                
            </div>            
        </div>
    </div>
</div>
