@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
.jumbotron{    
    margin-bottom:2%;    
    background-color: transparent;
    color: lightcyan;
    padding: 2%;
    background-position: center;
    background-repeat: no-repeat;   
}

input{
    background-color: lightcyan;
}

.border-r{
    border-right: 1px solid gray;
}

.border-b{
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
}

hr{    
    border-color: lightgray;
}

.maroon{
    color: #E2C2B3;
    font-family: 'Lato';
}

.text-style{
    font-size: smaller;
    font-family: 'Lato';
    text-transform: capitalize;
}

.card{
    background-color: transparent;
    height: 100%;
    border-color: #E2C2B3;
}

.jumbotron a{
    text-transform: capitalize;
    text-decoration: none;
    color: #E2C2B3;
}

.jumbotron a:hover{
    color: tomato;
}

.min-height{
    min-height: 320px;
}

