<div class="container">
    <ng-progress></ng-progress>
    <div class="row mb-3">
        <div class="col-12">
            <div class="jumbotron text-center">
                <p>
                    <span class="title-bg"><strong>GitHub</strong></span>&nbsp;
                    <span class="title-sm">Library</span>
                </p>                
                <p>Search for Github users and repositories</p>
                <div class="padding"></div>
                <a routerLink="/users" routerLinkActive="active"><button class="btn btn-outline-primary">Users</button></a>&nbsp;
                <a routerLink="/repos" routerLinkActive="active"><button class="btn btn-outline-secondary">Repos</button></a>
            </div>            
        </div>
    </div>
    <router-outlet></router-outlet>    
</div>