.padding {
    margin-bottom: 2em;
}

.jumbotron{        
    background-color: rgb(0, 0, 0);
    color: lightcyan;
    padding: 2%; 
    margin: 0%; 
    margin-top: 5px;
    padding-top: 5%;  
}

.title-bg{
    font-size: xx-large;
}

.title-sm{
    font-size: xx-large;
    font-weight: lighter;
    color: #79031D;
}

.active button{
    color: lightcyan;
}