.padding {
    margin-bottom: 2em;
}
.jumbotron{        
    background-color: #E2C2B3;
    color: black;
    padding: 2%; 
    margin: 0%; 
    margin-top: 5px;
    padding-top: 5%;  
}
@font-face{
    font-family: 'ZeF RAVE';
    src: url(/../../assets/font/ZeF\ RAVE.ttf)
  }
.title-bg{
    font-size: 5em;
    font-family: 'ZeF RAVE';
    font-weight: lighter;
}
.title-sm{
    font-size: 5em;
    font-weight: lighter;
    font-family: 'ZeF RAVE';
    color: #79031D;

}

.active button{
    color: lightcyan;
}

